<div style="margin-bottom: 16px;">
    
    <mat-card>
        <mat-card-title> {{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle> {{ heroe.alter_ego }} </mat-card-subtitle>
    
       <img mat-card-image [src]="heroe | image" alt="">
    
        <mat-card-content>
            <h3>{{ heroe.publisher }}</h3>
            <p>
                <strong>First apparition</strong> {{ heroe.first_appearance }}
                <br>
                <strong>Character</strong> {{ heroe.characters }}
            </p>
        </mat-card-content>
    
        <mat-card-actions>
            <button mat-button [routerLink]="['/heroes', heroe.id]" color="warn">Read more</button>
            <button mat-button [routerLink]="['/heroes/edit', heroe.id]" color="info">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>
